.viewMoreContainer {
  margin: auto;
  padding-top: 2rem;
}

.viewmoreBtn {
  display: flex;
  margin: auto;
  background: radial-gradient( rgb(0, 6, 83)10%,  #000000, #000000);
  font-size: 1.6rem;
  color: white;
  justify-content: center;
  width: 100%;
  max-width: auto;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
.viewmoreIcon {
  font-size: 1rem;
}
.viewmoreBtn:hover {
    background: radial-gradient( rgb(0, 6, 83) 20%,  #000000, #000000);
}

@media screen and (max-width: 1080px) {
  .viewMoreContainer {
    margin: auto;
    padding-top: 5rem;
  }
}
