.navBar {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: fixed;
  right: 0;
  top: 5rem;
  bottom: -1rem;
  align-items: center;
  margin-right: 10px;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
}
.active {
  background-color: rgba(171, 171, 172, 0.603);
}

.navToogle {
  display: none;
  color: orange;
  font-size: 1.7rem;
  padding: 0.4rem 0.4rem;
  margin: 0.5rem 0rem;
  border-radius: 50%;
}

.navLinks {
  color: orange;
  font-size: 1.7rem;
  padding: 0.3rem;
  margin: 1rem 0rem;
  border-radius: 60%;
  display: flex;
  &:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  &:active {
  }
}
// background-color: ${({isOpen}) => (isOpen ? "#000000" : "none") };

.sociaToggel {
  display: none;
  color: orange;
  font-size: 1.7rem;
  padding: 0.5rem;
  border-radius: 50%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 1rem;
  width: 90px;
  backdrop-filter: blur(5px);
  background: rgba(17, 16, 16, 0.542);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.2rem 0;
  font-style: italic;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 110%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

// ===============responsive media quirey

@media screen and (max-width: 800px) {
  .navBar {
    display: flex;
    flex-direction: row;
    position: fixed;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
    top: 1%;
    bottom: 92%;
    left: 84%;
    right: -10%;
    padding: 0rem 1rem;
    align-items: center;
    z-index: 10;
  }
  .navToggleIsOpen {
    display: flex;
    flex-direction: row;
    position: fixed;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
    top: 1%;
    bottom: 92%;
    left: 15%;
    right: -10%;
    padding: 0rem 1rem;
    align-items: center;
    z-index: 10;
  }
  .navToogle {
    cursor: pointer;
    display: flex;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  .navLinks {
    padding: 0.9rem;
  }
  .active {
    background-color: rgba(171, 171, 172, 0)
  }

  .sociaToggel {
  }
  .tooltip .tooltiptext {
    width: 90px;
    top: 80%;
    left: 120%;
    margin-left: -60px;
  }
}
