
.businessCard{
    color: rgb(0, 0, 0);
    max-width: 600px;
    width: 100%;
    margin:1rem auto;
    height: auto;
    padding: 0.3rem;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.413);
    border-radius: 0.4rem;
    box-shadow: var(--dark-shadow);
    
    h1{
        color: rgb(235, 235, 235);
        font-size: 1rem;
        margin: 0.7rem;
    }
} 

.cardLinks{
    font-size: 1.7rem;
    margin: 0.4rem 2rem;
    padding: 0.1rem;
    border-bottom: 1px solid rgba(201, 197, 188, 0.595);
    color: rgb(179, 119, 8);
    display: flex;
    align-items: center;

}

.cardLinks:hover{
    color: rgb(47, 39, 24);
}
.profile{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 0.75rem;
    margin-bottom: 1rem;
    align-items: center;
    img{
        width: 85px;
        height: 85px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: var(--light-shadow);
    }
}
