

.pageContainer{
    color: rgb(255, 255, 255);
    max-width: 70%;
    width:auto;
    margin: auto;
    height: auto;
    border: 1px solid white;
    font-size: 1rem;
    h2{
        color: rgb(229, 225, 200);
    }
}
.cvContainer{
    display: grid;
    grid-template-columns: 25% 70%;
    height: auto;
}
.person{
    width: 80%;
    border-radius: 50%;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.cvIamge{
    border-radius: 50%;
    &:hover{
        cursor: pointer;
        transform: scale(0.9);
    }
}

.cv{
    margin:0 ;
    padding-top:2rem;
}


.col1{
    padding: 0.6rem;
    background-color: rgb(100, 111, 136);

}
.col2{
    background-color: rgba(13, 17, 46, 0.289);
    color: white;

}

.lanContainer{
    margin: 1rem 0.5rem;
    padding: 1rem;
}
.dotContainer{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: auto;
  
}
.dotEmpty {
    margin: 0.4rem;
    height: 0.8rem;
    width: 0.8rem;
    background-color: rgb(217, 213, 213);
    border-radius: 50%;
    display: inline-block;
  }
.dotColored {
    margin: 0.4rem;
    height: 0.8rem;
    width: 0.8rem;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
  }



.extracurri{
    align-items: center;
    text-align: center;
    margin: 1rem 0.5rem;
    padding: 1rem;
  }

  .mainHeader{
    padding: 1rem;
  }
  .mainPart{
      display: grid;
      grid-template-columns: 5% 90%;
      gap:2%;
    h2 {
        border-bottom: 2px solid gray; 
    }
  }
 

  .vl {
    border-left: 1px solid rgba(250, 250, 250, 0.617);
    height:auto;
    margin-left: auto;
  }

  .sectionTitle{
    margin: 1rem;
  }

  .softwareSec{
    padding: 0.4rem;
    max-width: 100%;
    width: 100%;
  }


  @media screen and (max-width:1080px) {
    .pageContainer{
        max-width: 100%;
    }
    .col1{
        padding: 0.5rem;
    }
    .col2{
        padding: 0.5rem;
    }
    .cvContainer{
        display: grid;
        grid-template-columns:30% 70%;
        height: auto;
    }
    .extracurricu{
            font-size: 1rem;
            padding: 0.4rem;
    }
    .softwareSec{
       
    }

}
  @media screen and (max-width:470px) {
    .pageContainer{
        align-items: center;
        height: auto;
        margin: auto;
    }
    .cvContainer{
        grid-template-columns: 100%;
        height: auto;
    }
    .col1{
        padding: 0.4rem;
    }
    .col2{
        padding: 0.4rem;
    }
    .lanContainer{
        display: none;
    }
    .extracurri{
        display: none;
    }
    .softwareSec{
        font-size: 0.3rem;
    }

   
  
}