










.footerSM{
    display:none;
}
@media screen and (max-width:800px){
    .footerSM {
        display:flex;
        margin: auto;
        margin-top:3rem;
        z-index: 5;
    }
    .footerSM > a  { 
        color: rgb(255, 255, 255);
        padding:1rem;
        font-size: 1.4rem;
        cursor: pointer;
    }
    .footerSM > a:hover{
        color:var(--color-primary);
    }
}

