



/* the accordion style section  */

.accordionContainer{
    min-height: 100vh;
    width: 100%;
    max-width: 600px;
    margin: auto;
    display: grid;
    place-items: center;
    color: black;
}
  .question {
    padding: 1rem 1.5rem;
    border: 2px solid var(--clr-grey-special);
    margin-bottom: 0.3rem;
    border-radius: 1rem;
    box-shadow: var(--light-shadow);
    background-color: white;
  
  }
  .question h4 {
    text-transform: none;
    line-height: 1.5;
  }
  .question p {
    color: var(--clr-grey-3);
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  .question header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .question header h4 {
    margin-bottom: 0;
  }

   /*======= review style section ========= */
  .reviewContainer{
    background: rgba(30, 106, 157, 0.411);

  }

  .review {
    background: rgba(0, 0, 0, 0.2);
    margin: 3rem auto;
    width: 100%;
    max-width: 600px;
    padding: 1.5rem 2rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    text-align: center;
  }
  .reviewMain{
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  .review:hover {
    box-shadow: var(--dark-shadow);
  }
 
  .title {
    text-align: center;
    margin-bottom: 4rem;
  }

.imgContainer {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.profilePic {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.quoteIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--color-primary);
  color: var(--clr-white);
}
.imgContainer::before {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--clr-primary-5);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
.author {
  margin-bottom: 0.25rem;
}
.job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--clr-primary-5);
  font-size: 0.85rem;
}
.info {
  margin-bottom: 0.75rem;
}
.prevBtn,
.nextBtn {
  color: var(--clr-primary-7);
  font-size: 3rem;
  background: transparent;
  border-color: transparent;
  margin: 0 3rem;
  transition: var(--transition);
  cursor: pointer;
}
.prevBtn:hover,
.nextBtn:hover {
  color: var(--clr-primary-5);
}
.randomBtn {
  margin-top: 0.5rem;
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  transition: var(--transition);
  border-color: transparent;
  cursor: pointer;
}
.randomBtn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
}


  /* // profile section sytle  */

  .containerBirthday {
    color: rgb(0, 0, 0);
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    background:white;
    border-radius: 1rem;
    padding: 1rem 4rem;
    box-shadow: var(--dark-shadow);
    align-items: center;
    text-align: center;
  }
  
  .person {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.75rem;
    margin-bottom: 1.5rem;
    align-items: center;
  }
 
  .person h4 {
    margin-bottom: 0.35rem;
  }
  .person p {
    margin-bottom: 0;
  }
  .birthdayBtn  {
    color: white;
    display: block;
    width: 100%;
    max-width: 200px;
    border-color: transparent;
    background: rgb(0, 0, 0);
    margin: 0.4rem auto 1rem auto;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    letter-spacing: var(--spacing);
    border-radius:1rem;
    cursor: pointer;
  }
  
