


//============================= The buttons style

@mixin btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: bold;
    width: max-content;
    background-color: var(--color-primary);
    display: inline-block;
    color: var(--color-bg);
    padding: 0.5rem 2rem;
    margin:0.3rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition:var(--transition);
}


@mixin btn-primary { 
    @include btn;
    background-color: var(--color-primary);
    color: var(--color-light);
  }




.btn:hover{
    background:var(--color-white);
    color:var(--color-black);
    border-color:transparent;
    cursor:pointer;
}
